{{#each this}}
<li class="list_item">
    <img class="flag"
        src="{{flags.png}}"
        alt="{{name.common}}"
        width="40"
    />
    <b class="description">{{name.common}}</b>
</li>
{{/each}}